/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 #zn-covid19 {
     max-width: 120rem;
     font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
 }
h1, h2, 
h3, h4, 
h5, h6 {
    margin: auto !important;
    margin-bottom: 1rem;
}
.zn-title {
    display: flex;
}
.zn-title .zn-subtitle {
    max-width: 100%;
    width: 100%;
}
.zn-statistics {
    max-height: 100%;
    padding: 1rem 0;
}
