/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 @font-face {
	font-family: "Inter var";
	font-weight: 100 900; /* stylelint-disable-line font-weight-notation */
	font-style: normal;
	font-display: swap;
	src: url(./fonts/inter/Inter-upright-var.woff2) format("woff2");
}
@font-face {
	font-family: "Inter var";
	font-weight: 100 900; /* stylelint-disable-line font-weight-notation */
	font-style: italic;
	font-display: swap;
	src: url(./fonts/inter/Inter-italic-var.woff2) format("woff2");
}
#zn-covid19, #zn-covid19-table {
    max-width: 120rem;
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif !important;
}
h1, h2, 
h3, h4, 
h5, h6 {
    margin: auto !important;
    margin-bottom: 1rem;
    letter-spacing: -0.0415625em;
}
.zn-title {
    display: flex;
}
.zn-title .zn-subtitle {
    max-width: 100%;
    width: 100%;
}
.zn-statistics {
    max-height: 100%;
}
.emoji {
    font-size: x-large;
}
.flag {
    width: 50px;
}
#zn-continent-globe {
    font-size: 30px;
}
.continent-stats,
.country-stats {
    padding-bottom: 15px;
    display: flex;
}
.asof__time {
    position: relative;
    color: #888888;
    font-size: 15px;
    float: right;
    cursor: pointer;
}
.asof__time .asof__timetooltip {
    visibility: hidden;
    width: 155px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -78px;
    opacity: 0;
    transition: opacity 0.3s;
}
.asof__time .asof__timetooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.asof__time:hover .asof__timetooltip {
    visibility: visible;
    opacity: 1;
}
.zn-loading {
    padding: 25px;
}
.zn-loading .covid19 {
    display: block;
    height: 75px;
    width: 75px;
    animation: roll 2s infinite;
    transform: rotate(30deg);
    margin: auto;
}
@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.global .zn-covid19__content {
    padding: 10px;
}
.zn-covid19__content {
    display: none;
}
.global-stats__values p.subtitle,
.continent-stats__values p.subtitle,
.country-stats__values p.subtitle {
    padding: 0;
    color: #c80000;
}
#zn-covid19__map {
    width:100%;
    height:450px;
    margin:0;
    border:none;
    border-radius:6px;
}
#zn-covid19__graph, #zn-covid19__map {
    width: 100%;
    height: 500px;
}
/** Dark Mode */
.global.dark .zn-covid19__content {
    background: #23282d;
}
.global.dark .zn-covid19__content .title {
    color: #ffffff;
}
.global.dark .zn-covid19__content .subtitle {
    color: #cbc8c8;
}
#zn-covid19.dark .card {
    background: #23282d;
}
#zn-covid19.dark .card .title {
    color: #ffffff;
}
#zn-covid19.dark .card .subtitle {
    color: #cbc8c8;
}